<!DOCTYPE html>
<html>
<head>
  <title>ContestManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "header" >
	<a href="/">
		<h1>ContestManager</h1>
		<h5>Sponsored by Dmitry Rozhkov</h5>
	</a>	
</div>


<%= yield %>


</body>
</html>
